﻿@model List<GrpcService.DeviceModel>

<html>
<head>
    <title></title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numer seryjny</th>
                <th>Nazwa urządzenia</th>
                <th>Typ urządzenia</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Count == 0)
            {
                <span>no items found</span>
            }
            else
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            @Model[i].DeviceId
                        </td>
                        <td>
                            @Model[i].SerialNumber
                        </td>
                        <td>
                            @Model[i].Name
                        </td>
                        <td>
                            @Model[i].Type
                        </td>
                    </tr>
                }
        </tbody>
    </table>
</body>
</html>
