﻿@model GrpcService.DeviceModel

<strong>Dodaj urządzenie</strong>
<br />
<br />


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <span>Wprowadź numer seryjny:</span>
    <br />
    @Html.TextBoxFor(m => m.SerialNumber)
    <br />
    <span>Wprowadź nazwę: </span>
    <br />
    @Html.TextBoxFor(m => m.Name)
    <br />
    <span>Wprowadź typ: </span>
    <br />
    @Html.TextBoxFor(m => m.Type)
    <br />

    <input id="Submit" type="submit" value="Dodaj" />
}

<hr />

